:root {
    --backgroundColor: #0A0A0A;
    --boxColor: #1a1a1a;
    --fontColor: #D4D4D4;
    --highlightColor: #E64900;
}

html, body {
    padding: 0;
    margin: 0;  
    background-color: var(--backgroundColor);
    font-family: 'Lato', sans-serif;
    font-size: 2.5vh;
}

main {
    height: 100vh;
}

section {
    color: var(--fontColor);
    height: 100vh;
}

#one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#oneBox {
    border: 1px solid var(--highlightColor);
    width: 60vw;
    padding: 10vh;
    background-color: var(--boxColor);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#one .picContainer {
    width: 40%;
}

#one #me{
    width: 100%;
    height: auto;
}

#one .textContainer {
    padding-left: 2vw;;
    width: 55%;
}

#one h1 {
    font-size: 6vh;
}

#one h2 {
    font-size: 5vh;
    color: var(--highlightColor)
}

#one p {
    text-align: justify;
    font-size: 3vh;
}

#one #socialContainer {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}

#one a {
    padding: 0;
}

#one .socialLogo {
    margin: 0;
    width: 4vh;
    height: auto;
    padding: 0 1vw 0 0;   
}

#one .socialLogo:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
    #oneBox {
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    
    #one {
        padding-top: 1vh;
        height: 90vh;
        justify-content: center;
        align-items: center;
    }

    #oneBox {
        width: 95vw;
        height: 90vh;
        padding: 0;
        flex-direction: column-reverse;
        align-items: center;
    }

    #one .textContainer {
        width: 80vw;
    }
}